---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import GalleryImage from "../components/GalleryImage.astro";

import EdF1 from "../images/gallery/IMG_20240925_190332.jpg";
import EdF2 from "../images/gallery/IMG_20240925_190837.jpg";
import Glories from "../images/gallery/IMG_20241005_192345.jpg";
import Granota from "../images/gallery/IMG_20241006_093848.jpg";
import Planes from "../images/gallery/IMG_20241006_094206.jpg";
import Xemeneia1 from "../images/gallery/IMG_20241007_181957.jpg";
import Xemeneia2 from "../images/gallery/IMG_20241008_180826.jpg";
import Xemeneia3 from "../images/gallery/IMG_20241008_181451.jpg";
import Xemeneia4 from "../images/gallery/IMG_20241008_183017.jpg";
import Xemeneia5 from "../images/gallery/IMG_20241008_183908.jpg";
import S4000 from "../images/gallery/IMG_20241016_201707.jpg";
import Parlament from "../images/gallery/IMG_20241026_143136.jpg";
import Desk from "../images/gallery/IMG_20241102_140348.jpg";
import Sicilia from "../images/gallery/IMG_20241108_172612.jpg";
import Sunset1 from "../images/gallery/IMG_20241121_173217.jpg";
import Sunset2 from "../images/gallery/IMG_20241121_173616.jpg";
import Sunset3 from "../images/gallery/IMG_20241121_175137.jpg";
import CargoTrain from "../images/gallery/IMG_20241203_164620.jpg";
import Velaro from "../images/gallery/IMG_20241203_171406.jpg";
import CableCar from "../images/gallery/IMG_20241223_171646.jpg";
import Seafront from "../images/gallery/IMG_20241223_172346.jpg";
import Crossing from "../images/gallery/IMG_20241224_171756.jpg";
import Toulouse from "../images/gallery/IMG_20241226_170304.jpg";
import Renfe470 from "../images/gallery/IMG_20250217_181406.jpg";
import CiutatJ from "../images/gallery/IMG_20250219_174443.jpg";
import TramSunset from "../images/gallery/IMG_20250322_184636.jpg"
---

<Layout
	title="gallery - astrid"
	description="A collection of good pictures"
	>
	<header>
		<h1>Gallery</h1>
		<p>This is a collection of good, cool or interesting pictures I've taken. Probably not the best pictures ever, but worth showing nonetheless.</p>
	</header>
	<main id="main" class="vi-gallery-layout">
		<GalleryImage src={EdF1} alt="An empty 449 medium distance train entering the Estació de França, about to make the Barcelona-Reus service." title="449 at EdF" details="Canon 550D, ISO400, 1/500, f/5.6" licence="CC BY-SA 4.0"  />
		<GalleryImage src={EdF2} alt="The interior of the Estació de França. On the tracks, there are various trains stationed: a medium distance 449 train, two Rodalies 447 trains, as well as one double-decker Rodalies 450 train. The roof on top is covered with a blue net." title="Interior EdF" details="Canon 550D, ISO3200, 1/250, f/5.6" licence="CC BY-SA 4.0" />
		<GalleryImage src={Glories} alt="Two tramways crossing next to the Encants market, with the Glòries tower and the Disseny Hub behind." title="Tramway at Glories" details="Canon 550D, ISO400, 1/80, f/4.5" licence="CC BY-SA 4.0"  />
		<GalleryImage src={Granota} alt="A FCC class 400 &#x0022;frog&#x0022; train arriving at les Planes station, from the FGC depot in Rubí, in the middle of the vegetation of the Collserola park. It's a three-car set with white-and-green carriages which, combined with the round front lights, make it resemble a frog." title="Granota at les Planes" details="Canon 550D, ISO400, 1/400, f/5.0" licence="CC BY-SA 4.0"  />
		<GalleryImage src={Planes} alt="An FGC class 112 train leaving Les Planes station, heading towards Terrassa. There's an FCC class 400 &quot;frog&quot; on the background." title="112 at les Planes" details="Canon 550D, ISO400, 1/400, f/5.0" licence="CC BY-SA 4.0" />
		<GalleryImage src={Xemeneia1} alt="The &quot;three chimneys&quot; of Sant Adrià del Besòs. This used to be a thermal power plant that was operated by Endesa until 2011, when it was decommissioned. It consists of three identical chimneys side by side, with a height of 200 m, and a separate horizontal building which housed the turbines until they were dismantled. The power plant is located next to a beach and, while in operation, it polluted the surrounding environment and the water. There's some graffiti on the exterior walls of the complex." title="Three Chimneys" details="Canon 550D, ISO100, 1/400, f/4.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Xemeneia2} alt="What looks like the inside of an abandoned building, where numerous concrete columns supporting the concrete structure can be seen. There's a hole on the floor between two of the columns, with a metar guardrail around it. At the end, a set of metal stairs is visible. The space is unlit, lending it an apocalyptic atmosphere." title="Abandoned complex" details="Canon 550D, ISO800, 1/13, f/4.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Xemeneia3} alt="&quot;Prehension&quot; is an art piece by Asad Raza. It features long, white fabric strips hanging off the ceiling that move in the wind, &quot;giv[ing] form to the wind&quot;. Behind, there's another piece by Claire Fontaine, consisting of luminous letters that read &quot;When women strike the world stops&quot;. The artist wants to defend and reclaim the women's role in history. These two pieces are exhibited on the top floor of the former turbine hall, a large and tall area that also features a giant crane on top. " title="Prehension" details="Canon 550D, ISO200, 1/80, f/4.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Xemeneia4} alt="Kuluanji Kia Henda's &quot;The Frankenstein Tree&quot; consists of tree branches that have been joined together with wood slabs and screws, so that it resembles a forest with Frankenstein-ed trees. The work meditates on the extraordinary power of nature to heal itself, even after catastrophic climate events and war." title="Frankenstein trees" details="Canon 550D, ISO400, 1/30, f/4.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Xemeneia5} alt="&quot;Un Intruso (uninvited, into chaos)&quot;, by Mike Nelson, is a small hut next to the power plant. Built with the remains of the demolished buildings nearby, it seems as if it has always been here, as if it wasn't just an art piece. The visitor is invited to enter and take a look to the chimneys: a megalithic statement of power, not only from the perspective of energy, but also on political, economic, environmental and, above all, human levels; making the observer reflect about their future." title="Uninvited guest" details="Canon 550D, ISO100, 1/500, f/4.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={S4000} alt="A white train with a red front entering and about to stop at Espanya station. There's a screen above the driver's compartment that says 124. The picture is a bit blurry." title="Last S4000" details="Canon 550D, ISO1600, 1/13, f/11" licence="CC BY-SA 4.0"  />
		<GalleryImage src={Parlament} alt="Inside the parliament of Catalonia. It's a surprisingly small room with a narrow central corridor covered with a red carpet and red cushioned seats on both sides of it. Behind the seats, there's a place for visitors and media to sit. At the end of the room, there's a metal clock hanging on the wall. The place is ornamented with ionic style columns and rounded arches. The ceiling, made of wood, has a big ball-like chandelier hanging on." title="Parliament of Catalonia" details="Canon 550D, ISO400, 1/60, f/3.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Desk} alt="A desk by the window, with a small office chair that faces the outside and a lamp that looks modern but old at the same time, which has a small ashtray mounted on it. On the left side, the wall is made of translucent glass blocks and square bricks with a colored glass circular piece in it, arranged in a checkerboard pattern. Outside, there are some bushes and trees." title="A desk" details="Canon 550D, ISO800, 1/125, f/4.5" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Sicilia} alt="A tram about to leave Sicília stop, heading towards the north of the city. The Glòries tower, a rounded glass skyscraper that looks like a cucumber, is in the background." title="New tramway branch" details="Canon 550D, ISO100, 1/320, f/5.6" licence="CC BY-SA 4.0"  />
		<GalleryImage src={Sunset1} alt="A view of the Mercat Nou metro station, in the lower left corner, alongside the commuter train tracks, under the sunset. A train is leaving the city at the same time as a metro is entering the station, under the sunset." title="Train sunset" details="Canon 550D, ISO100, 1/300, f/5.3" licence="CC BY-NC-SA 4.0"  />
		<GalleryImage src={Sunset2} alt="Two trains meeting, while going in opposite directions, at the commuter train tracks that lead to the outskirts of the city. The sky is tinted pink and purple as the sun sets." title="Meeting under the sunset" details="Canon 550D, ISO100, 1/300, f/5.3" licence="CC BY-NC-SA 4.0"  />
		<GalleryImage src={Sunset3} alt="A train speeding beneath a metal pedestrian bridge, under the sunset. The sky has a yellow tone, which fades to purple on top of the photo. The train pictured is a Renfe 447 commuter train, with some graffiti on its side." title="Speeding under the sunset" details="Canon 550D, ISO100, 1/300, f/5.3" licence="CC BY-NC-SA 4.0"  />
		<GalleryImage src={CargoTrain} alt="A Renfe cargo train goes by an empty field under the purple sky." title="Afternoon cargo" details="Canon 550D, ISO200, 1/500, f/5.6" licence="CC BY-SA 4.0"  />
		<GalleryImage src={Velaro} alt="A Velaro E train operated by Renfe speeds up as it exits the city, on top of a bridge in the middle of the forest." title="Velaro in the wild" details="Canon 550D, ISO800, 1/60, f/5.6" licence="CC BY-SA 4.0"  />
		<GalleryImage src={Seafront} alt="The Barcelona seafront, under the sunset. There's a big Ferris wheel next to the Olympic port, by the seashore. There are also a couple tall skyscrapers by the sea. The mountains can be seen on the back." title="Seafront" details="Canon 550D, ISO200, 1/250, f/5.6" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={CableCar} alt="A couple gondolas hanging off the wire, with the sunset behind. The whole city of Barcelona can be seen, as well as the mountains that surround the city." title="Cable cars" details="Canon 550D, ISO200, 1/125, f/8.0" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Crossing} alt="An FGC class 213 narrow-gauge train on its way by Sant Boi, passing by a concrete bridge across the Llobregat river. On the background, a Frecciarossa high speed train speeds up on an elevated viaduct." title="Speed contrast" details="Canon 550D, ISO100, 1/50, f/7.1" licence="CC BY-NC-SA 4.0"/>
		<GalleryImage src={Toulouse} alt="The sunset in Toulouse, captured from the Pont Neuf across the Garonne river, looking towards the Pont de Saint-Pierre, with the dome of the Hôpital de la Grave on the left." title="Afternoon in Toulouse" details="Canon 550D, ISO100, 1/80, f/10.0" licence="CC BY-NC-SA 4.0" />
		<GalleryImage src={Renfe470} alt="A Renfe class 470 regional train departing from Estació de França in the afternoon. It slowly winds out of the station to go underground. Two tall towers are visible in the background." title="Afternoon departure" details="Canon 550D, ISO100, 1/80, f/6.3" licence="CC BY-SA 4.0" />
		<GalleryImage src={CiutatJ} alt="Ciutat de la Justícia metro station, located next to the &quot;City of Justice&quot; (which hosts legal departments) and a shopping mall. This station also has stacked platforms with platform screen doors. The concrete circular structure of the station is exposed, and it has bright curved LED light strips going from top to bottom, like arches. " title="Light arches" details="Canon 550D, ISO200, 1/20, f/5" licence="CC BY-SA 4.0" />
		<GalleryImage src={TramSunset} alt="A green Barcelona tramway leaving its stop. The ground underneath is still wet, as it had just rained. At the background, the three chimneys of Sant Adrià can be seen." title="Tram after the rain" details="Canon 550D, ISO100, 1/160, f/5.0" licence="CC BY-NC-SA 4.0"  />
		<!-- <GalleryImage src={Velaro} alt="Some alt text" title="Test" details="Canon 550D, ISO100, 1/300, f/5.3" licence="CC BY-SA 4.0"  /> -->
	</main>
	<Footer />
</Layout>

<style>

header {
	max-width: 600px;
	margin: auto;
	padding: 2rem 1rem;
}

.vi-gallery-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 0 2rem 2rem;
	max-width: 1100px;
	margin: 0 auto;
}
</style>