---
import { Image } from "astro:assets";
const { src, alt, title, details, licence } = Astro.props;
---
<figure class="vi-galleryitem">
	<a class="imagelink" href={src.src}>
		<Image src={src} alt={alt} height="200" densities={[1.5, 2]} />
	</a>
	<figcaption>
		<div class="title">{title}</div>
		<div class="details">{details}</div>
		<div class="licence">{licence}</div>
	</figcaption>
</figure>
<style>
.vi-galleryitem img {
	margin: 0;
}

.vi-galleryitem {
	flex: 0 0 300px;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: hsl(var(--vi-accent-color--hsl)/0);
	border: solid 1px hsl(var(--vi-body-color--hsl)/10%);
	transition: background-color .2s, border .2s;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.vi-galleryitem:has(a:hover) {
	background-color: hsl(var(--vi-accent-color--hsl)/15%);
}

.vi-galleryitem:focus-within {
	border: solid 1px hsl(var(--vi-body-color--hsl)/75%);
}

.vi-galleryitem figcaption {
	background-color: hsl(var(--vi-accent-color--hsl)/10%);
	border-radius: .5rem;
	margin-top: .5rem;
	padding: .5rem;
	line-height: 1.4;
	align-self: stretch;
}

.title {
	font-family: var(--vi-display-font);
	font-weight: 600;
	font-size: 1.15em;
}

.details {
	font-size: 0.8em;
}

.licence {
	font-size: 0.8em;
	opacity: 0.8;
	font-style: italic;
	display: inline-block;
}
</style>