---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const published = new Date(frontmatter.pubDate).toLocaleDateString('en-GB');
---
<BaseLayout 
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image.url ?? "/banner.png"}
>
		<h1>{frontmatter.title}</h1>
		<div class="vi-heading">
			<p>By <strong>{frontmatter.author}</strong> &bull; Last updated on <strong>{published}</strong></p>
		</div>
		{frontmatter.image.url && <img src={frontmatter.image.url} alt={frontmatter.image.alt}>}
		<slot />
</BaseLayout>
<style>
.vi-heading {
	background-color: hsl(var(--vi-accent-color--hsl)/10%);
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

.vi-return {
	display: inline-block;
	font-family: var(--vi-display-font);
	font-size: 1.15rem;
	text-decoration: none;
	border: solid 2px hsl(var(--vi-link-color--hsl)/0);
	background-color: hsl(var(--vi-link-color--hsl)/5%);
	padding: 0.5em 0.75em;
	border-radius: 0.75em;

	transition: border .2s, background-color .2s;
}

.vi-return:hover {
	background-color: hsl(var(--vi-link-color--hsl)/20%);
	border: solid 2px var(--vi-link-color--hover);
}

.vi-return svg {
	display: inline;
	fill: currentColor;
	vertical-align: -4px;
}
</style>