---
import BaseLayout from "./BaseLayout.astro";
import Return from "../components/BackButton.astro"
const { frontmatter } = Astro.props;
const published = new Date(frontmatter.pubDate).toLocaleDateString('en-GB');
---
<BaseLayout 
	title={frontmatter.title + " - astrid"}
	description={frontmatter.description}
	image={frontmatter.image.url ?? "/banner.jpg"}
	imagealt={frontmatter.image.alt}
>
	<Return to="Blogs" href="/blogs" />
	<header>
		<h1>{frontmatter.title}</h1>
		<div class="vi-subtitle">{frontmatter.description}</div>
		{frontmatter.image.url && <img src={frontmatter.image.url} alt={frontmatter.image.alt}>}
		<div class="vi-heading">
			<p>By <strong>{frontmatter.author}</strong> &bull; Published on <strong>{published}</strong></p>
		</div>
	</header>
	<slot />
</BaseLayout>
<style>
.vi-heading {
	background-color: hsl(var(--vi-accent-color--hsl)/10%);
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

.vi-subtitle {
	font-family: var(--vi-display-font);
	font-weight: 500;
	margin-bottom: .8em;
	font-size: 1.2em;
	color: var(--vi-body-subtitle-color)
}
</style>