---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout 
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
>
		<h1>{frontmatter.title}</h1>
		<slot />
</BaseLayout>
