---
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props;
---
<Layout 
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image}
>
	<main id="main">
		<h1>{frontmatter.title}</h1>
		<slot />
	</main>
</Layout>

<style>
main {
	max-width: 600px;
	margin: auto;
	padding: 0 1rem 2rem;
}
</style>